.loginmain {
    border: #314771 5px solid; 
    align-self: center;
    height: 570px;
    width: 570px;
}

#menu-check {
    display: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #314771;
    margin: auto;
}


header  label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

#prub {
    height: 10000px;
    color: black;
}



footer {
    background: #314771;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.menu{
position: fixed;
background: #019F9E;
height: 100%;
width: 30%;
margin-left: -30%;
transition: all 0.5s;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
}



.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
}

#menu-check:checked ~ .menu {
    margin: 0;
}